html
  head
    title My Site - #{title}
    block scripts
      script(src='https://code.jquery.com/jquery-3.3.1.slim.min.js')
      <style type="text/css">
        != styles
      </style>
  body
    block content
    block footer
      include includes/footer.pug
      | today is: #{helpers.moment().format('DD-MM-YYYY')}